html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  background-color: #FFDEB4;
  padding-top: 80px;
  min-height: 100%;
}

.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  border-bottom: 2px solid black;
  padding: 0 10px;
  height: 60px;
  background: #fff;
  z-index: 999;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .group {
    display: flex;
    align-items: center;
    gap: 20px;
    .menu {
      position: relative;
      ul {
        position: absolute;
      }
    }
  }
}

.logo {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2e2e2e;
  margin: auto;
  cursor: pointer;
  border-right: 2px solid black;
  padding-right: 10px;
  white-space: nowrap;
}

.posts__main {
  display: flex;
  flex-wrap: wrap;
  gap: calc(100px / 3);
}

.postMain {
  padding-top: 20px;
  background: #fff;
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  .img__div {
    position: relative;
    width: 100%;
    display: flex;
    span {
      display: none;
      position: absolute;
      right: 20px;
      top: -10px;
      svg {
        width: 25px;
        height: 25px;
      }
      cursor: pointer;
      opacity: 0.7;
    }
    .price {
      position: absolute;
      bottom: -15px;
      left: 0;
      background: rgba(19, 161, 19, 0.8);
      color: white;
      border-radius: 0px 5px 0px 0px;
      padding: 5px;
    }
  }
  &:hover {
    .anticon-shopping-cart {
      display: block;
    }
  }
  .postImage {
    max-width: 250px;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .description {
    padding: 25px;
    background-color: #FFF9CA;
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .raiting {
    display: flex;
    justify-content: space-between;
  }
}

.form {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 1px;
  padding-left: 0;
  h3 {
    text-align: center;
    padding-bottom: 10px;
    padding-left: 50px;
  }
}